.tab-list {
    display: flex;
    justify-content: center;
    background-color: #ABE0F2;
    padding: 10px;
    border: 5px dotted #35D3F0;
   
    
  }
  
  .tab {
    color: #35D3F0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
  }
  
  .tab:hover {
    background-color: rgba(12, 124, 200, 0.2);
  }
  
  .tab-list .is-selected {
    color: #35D3F0;
    background-color: #35D3F0;
    border-radius: 5px;
  }
  