.tab-list {
    display: flex;
    justify-content: center;
    background-color: #ABE0F2;
    padding: 10px;
    border-top: 5px dotted #E469A3 ;
    border-bottom: 5px dotted #E469A3 ;
   margin-bottom: 5px;
   
    
  }


  .tab {
    
   
    
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    
  }
  
  
  
  .tab.is-selected {
    color: #35D3F0;
    background-color: #04778b;
    border-color: #04778b;
  }